fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
python-dotenv==1.0.1
celery[redis]==5.4.0
redis==5.0.8
transformers==4.43.4
accelerate==0.33.0
peft==0.12.0
diffusers==0.30.0
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
rank-bm25==0.2.2
opencc-python-reimplemented==0.1.7
pypinyin==0.53.0
Pillow==10.4.0
opencv-python==4.10.0.84
datasets==2.21.0
safetensors==0.4.4
